# System Settings
PUID=1000
PGID=1000
TZ=Asia/Seoul

# VPN Settings
VPN_PROVIDER=custom
VPN_TYPE=openvpn
VPN_COUNTRIES=Japan
VPN_USERNAME=
VPN_PASSWORD=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

# Cloudflare (Optional)
CLOUDFLARED_TOKEN=

# Rclone
RCLONE_REMOTE_NAME=gdrive
